@font-face {
    font-family: Cubic_11;
    src: url(../fonts/Cubic_11.ttf)
}

* {
    font-family: Cubic_11;
    user-select: none;
    text-align: center;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #000
}

body {
    background: #effff4;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    width: calc(90vw - 40px);
    height: 100%;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    background: #000;
    transition: transform .4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
}

.card .back {
    transform: rotateY(0deg);
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    backface-visibility: hidden;
}

.card .front {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card:active {
    transform: scale(.95);
}

.card.flip {
    transform: rotateY(180deg);
    pointer-events: none;
}

.card.flip:active {
    transform: scale(1);
}

.card.fail {
    animation: fail .2s linear;
    animation-iteration-count: 1;
}

.card.fliped {
    cursor: default;
    color: #fff;
    visibility: hidden;
}

.reset {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    border: none;
    background: transparent;
    width: calc(90vw - 40px);
    height: 100%;
    width: 430px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: transparent;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

#peek {
    margin: 10px 0 0 0;
}

#difficulty, #timer {
    margin: -25px 0 10px 10px;
}

.button:hover {
    transform: scale(1.05);
}

.button:hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.difficulty {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(430px/2);
    width: 100%;
    border: #000 solid 1px; 
    background: transparent;
    cursor: pointer;
    transition: transform .2s;
}

.difficulty:hover {
    transform: scale(1.05);
}
.difficulty:hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.difficulty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
}

@keyframes fail {
    0% {transform: translateX(0)}
    25%,75% {transform: translateX(-5px)}
    50% {transform: translateX(5px)}
    100% {transform: translateX(0)}
}